<!--include header-->
<%- include('include/_header')%>
<!--/include header-->
     <!--MainSite-->
    <main id="side-main">
        <div class="container">
            <div class="box-nav d-flex-between">
                <div class="filter">
                    <a href="/admin"><i class="fas fa-angle-double-left"></i>All Users</a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">
                <span class="text-dark">Create a New Account</span>
                </h2>
            </div>
            <!--form handling-->
            <!--include form-->
            <%- include('include/_form')%>
            <!--/include form-->

        </div>
    </main>
    <!--/MainSite-->
<!--include footer-->
    <%- include('include/_footer')%>
<!--/include footer-->