<% -include('include/_header')%>
<!--include header-->
<%- include('include/_header')%>
<!--/include header-->
     <!--MainSite-->
    <main id="side-main">
        <div class="container">
            <div class="box-nav d-flex-between">
                <div class="filter">
                    <a href="/admin/campaigns"><i class="fas fa-angle-double-left"></i>All Campiagns</a>
                </div>
            </div>

            <div class="form-title text-center">
                <h2 class="text-dark">
                <span class="text-dark">Add Campaign</span>
                </h2>
            </div>
            <!--form handling-->
            <!--include form-->
               <!--form handling-->
   <form action="/admin/add_campaigns" method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="campaignName" class="text-dark">Campaign Name</label>
            <input type="text" name="campaignName" value="" placeholder="Campaign Name">
        </div>
        <div class="form-group">
            <label for="campaignDetails" class="text-dark">Campaign Details</label>
            <input type="text" name="campaignDetails" value="" placeholder="Details">
        </div>
        <div class="form-group">
            <label for="campaignDistrict" class="text-dark">Campaign District</label>
            <input type="text" name="campaignDistrict" value="" placeholder="District">
        </div>
        <div class="form-group">
            <label for="campaignLocation" class="text-dark">Campiagn Location</label>
            <input type="text" name="campaignLocation" value="" placeholder="Location">
        </div>

        <div class="form-group">
            <label for="campaignDate" class="text-dark">Campaign Date</label>
            <input type="date" name="campaignDate" value="" placeholder="Date">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Add Campaign</button>
        </div>
    </div>
</form>
            <!--/include form-->

        </div>
    </main>
    <!--/MainSite-->
<!--include footer-->
    <%- include('include/_footer')%>
<!--/include footer-->
<% -include('include/_footer')%>