<%- include('include/_header')%>
<main id="side-main">
    <div class="container">
        <hr>
        <h1>Contrubution By Users</h1>
          <hr>
        <div class="box-nav d-flex-between">
            <form action="/admin/contributions" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>SN</th>
                            <th>ID</th>
                            <th>Contributor name</th>
                            <th>Contributor's Contact</th>
                            <th>Amount</th>
                            <th>Date of Contribution</th>
                            <th>Status</th>
                            <th>User in App</th>
                
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_showContribution')%>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</main>
    
<%- include('include/_footer')%>