<%- include('include/_header')%>
<main id="side-main">
    <div class="container">
        <hr>
        <h1>List of Registered Donors</h1>
          <hr>
        <div class="box-nav d-flex-between">
            <form action="/admin/donors" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>SN</th>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Address</th>
                            <th>District</th>
                            <th>Contact</th>
                            <th>Blood Type</th>
                            <th>District</th>
                            <th>D.O.B</th>
                            <th>Last Donated</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_showDonors')%>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</main>
    
<%- include('include/_footer')%>