<%- include('include/_header')%>
<main id="side-main">
    <div class="container">
        <hr>
        <h1>Blood Requests in Application</h1>
          <hr>
        <div class="box-nav d-flex-between">
            <form action="/admin/donors" method="POST">
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>SN</th>
                            <th>ID</th>
                            <th>Receiver Name</th>
                            <th>Receiver Number</th>
                            <th>Blood Type</th>
                            <th>Request Status</th>
                            <th>Requester Name</th>
                            <th>Requested To</th>
                            <th>Requested Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%- include('include/_showRequests')%>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</main>
    
<%- include('include/_footer')%>